<h1>Incidencia Reactive Forms</h1>

<form [formGroup]="criteriaForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Label:
      <input type="text" formControlName="label">
    </label>
    <label *ngIf="criteriaForm.controls['label'].invalid">
      The label is incorrect
    </label>
  </div>
  <h2>Valorations</h2>
  <div formArrayName="valorations">
    <div *ngFor="let valoration of valorations.controls; let i = index" [formGroupName]="i">
      <label>Label:
        <input type="text" formControlName="label">
      </label>
      <label *ngIf="getValorationsLabel(i).invalid">
        The label is required
      </label>
      <label>Puntuation:
        <input type="number" formControlName="puntuation">
      </label>
      <label *ngIf="getValorationsPuntuation(i).invalid">
        The puntuation is wrong
      </label>
      <button (click)="removeValoration(i)">Remove</button>
    </div>
  </div>
  <div>
    <button (click)="addValoration()">Add</button>
  </div>

  <button [disabled]="!criteriaForm.valid">Registrar</button>
</form>