<h1>Incidencia Reactive Forms</h1>

<form [formGroup]="mainForm">
    <label>Criteria: 
      <input type="text" formControlName="label">
    </label>
  <h3>Valorations</h3>
  <div formArrayName="valorations">
    <div *ngFor="let valoration of getValorations().controls; let valorationIndex = index">
      <div [formGroupName]="valorationIndex">
        <label>Label:
          <input type="text" formControlName="label">
        </label>
        <label>Puntuation:
          <input type="number" formControlName="puntuation">
        </label>
        <button (click)="removeValoration(valorationIndex)">Remove</button>
      </div>
    </div>
    <div>
      <button (click)="addValoration()">Add Valoration</button>
    </div>
    
  </div>
  <button [disabled]="mainForm.invalid" (click)="register()">Registrar</button>
  <button (click)="clearTemplate()">Netejar</button>
</form>